html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 69px;
}

.container {
    margin: 0px 20px;
}

.header-line {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #1E1E1E;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-right: 57px;
}

.btn {
    background-color: #305DFF;
    color: #fff;
    text-decoration: none;
    padding: 14px 19.5px;
    font-weight: 400;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    background-color: #F6F7FB;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.name-deсk {
    margin-bottom: 20px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 20px;
}

.scene {
    width: 100%;
    height: 400px;
    perspective: 600px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 400px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card__face--front {
    background: crimson;
}

.card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
}

.numeration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.num {
    flex: 0 0 auto;
    width: 17vw;
    height: 17vw;
    max-width: 70px;
    max-height: 70px;
    color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    font-size: 36px;
    line-height: 25px;
    background: #305DFF;
    border: 1px solid #305DFF;
    margin: 12px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
