html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    height: 69px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    background-color: #F6F7FB;
    padding: 20px;;
}

.container {
    margin: 0px 20px;
}

.header-line {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.nav-item {
    color: #1E1E1E;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-right: 57px;
    border-bottom: 2px solid transparent;
}

.nav-item:first-child {
    margin-left: 50px;
}

.nav-item:hover,
.nav-item:focus {
    border-bottom-color: #305DFF;
    border-bottom-width: 4px;
}

.authorization {
    margin-left: auto;
    align-items: center;
}

.btn {
    background-color: #305DFF;
    color: #fff;
    text-decoration: none;
    padding: 14px 19.5px;
    font-weight: 400;
    border-radius: 10px;
}

.btn:hover,
.btn:focus {
    background-color: rgb(0, 52, 253);
}

.name-deсk {
    margin-bottom: 20px;
}
.counter {
    margin-bottom: 25px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 10px;
    gap: 20px;
}

.scene {
    width: 100%;
    height: 400px;
    perspective: 600px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}


@keyframes rotateAnimationRight {
    0% {
        transform: translateX(100px) rotateY(-10deg);
    }
    100% {
        transform: translateX(0px) rotateY(0deg);
    }
}

@keyframes rotateAnimationLeft {
    0% {
        transform: translateX(-50px) rotateY(10deg);
    }
    100% {
        transform: translateX(0px) rotateY(0deg);
    }
}

.card.animate {
    animation: rotateAnimation 2s linear infinite;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    font-size: 40px;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question, #answer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



    bottom: calc(12px + 20px);
    width: 75%;

    right: 10px;
    overflow-y: auto;
    white-space: nowrap;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

:root {
    --scrollbarBg: rgb(48, 93, 255);
    --scrollbarThumb: rgba(255, 255, 255, 0.8);
    --scrollbarWidth: 12px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

#question::-webkit-scrollbar,
#answer::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

#question::-webkit-scrollbar-track,
#answer::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}

#question::-webkit-scrollbar-thumb,
#answer::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}


.card__face--front {
    background: white;
}

.card__face--front .nav,
.card__face--back .nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    line-height: 14px;
    width: 600px;
    height: 20px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.card__face--front .nav .favourite,
.card__face--back .nav .favourite {
    margin-left: auto;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.card__face--front .nav .sound,
.card__face--back .nav .sound {
    margin-right: auto;
    margin-left: 30px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.card__face--front .nav .favourite:hover,
.card__face--back .nav .favourite:hover {
    color: #bebe60;
}

.card__face--front .nav .sound:hover,
.card__face--back .nav .sound:hover {
    color: #737272;
}

.card__face--front .text-bottom,
.card__face--back .text-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 580px;
    padding: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    background: #305DFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card__face--back {
    background: white;
    transform: rotateY(180deg);
}

.grades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grade {
    width: 17vw;
    height: 17vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    max-width: 70px;
    max-height: 70px;
    color: #fff;
    border-radius: 50%;
    font-size: 36px;
    background: #305DFF;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #305DFF;
    margin: 18px;
}


.grade.grade-5 {
    background-color: #305DFF;
    box-shadow: 0 0 0 2px #305DFF;
}

.grade.grade-5:hover {
    box-shadow: 0 0 0 4px rgb(0, 52, 253);
}

.grade.grade-4 {
    background-color: rgba(48, 93, 255, 0.8);
    box-shadow: 0 0 0 2px rgba(48, 93, 255, 0.8);
}

.grade.grade-4:hover {
    box-shadow: 0 0 0 4px rgb(0, 52, 253);
}

.grade.grade-3 {
    background-color: rgba(48, 93, 255, 0.6);
    box-shadow: 0 0 0 2px rgba(48, 93, 255, 0.6);
}

.grade.grade-3:hover {
    box-shadow: 0 0 0 4px rgb(0, 52, 253);
}

.grade.grade-2 {
    background-color: rgba(48, 93, 255, 0.4);
    box-shadow: 0 0 0 2px rgba(48, 93, 255, 0.4);
}

.grade.grade-2:hover {
    box-shadow: 0 0 0 4px rgb(0, 52, 253);
}

.grade.grade-1 {
    background-color: rgba(48, 93, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(48, 93, 255, 0.2);
}

.grade.grade-1:hover {
    box-shadow: 0 0 0 4px rgb(0, 52, 253);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.arrow {
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 50px;
    margin: 20px auto;
}

.left-arrow {
    transform: scaleX(-1);
}

.right-arrow {
    transform: scaleX(1)
}

.arrow div {
    position: relative;
    top: 20px;
    width: 40px;
    height: 5px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    left: 0;
    display: block;
}


.arrow div::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 5px;
    top: 10px;
    right: -9px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    transform: rotate(-45deg);
}

.arrow div::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 5px;
    top: -10px;
    right: -9px;
    background-color: #000000;
    transform: rotate(45deg);
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.right-arrow:hover {
    animation: right-arrow 1s linear infinite;
}

.left-arrow:hover {
    animation: left-arrow 1s linear infinite;
}

@keyframes right-arrow {
    0% {
        left: 0;
    }
    50% {
        left: 15px;
    }
    100% {
        left: 0;
    }
}
@keyframes left-arrow {
    0% {
        right: 0;
    }
    50% {
        right: 15px;
    }
    100% {
        right: 0;
    }
}