html,body{
    width:100%;
    height:100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.tab {
    align-items: flex-start;
    display: flex;
    gap: 16px;
    margin-left: 16px;
    position: relative;
    width: fit-content;
}

.text{
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.cnt{
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 16px 20px;
    position: relative;
    width: fit-content;
}

.t-cnt {
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 16px 20px;
    position: relative;
    width: fit-content;
}

.wrp{
    padding:3px;
    display: flex;
    position: absolute;
    width: fit-content;
    align-items: center;
    gap: 40px;
    right: 25px;
}

.wrp-img {
    cursor: pointer;
    padding:3px;
    display: none;
    position: absolute;
    align-items: center;
    gap: 40px;
    right: 25px;
    width: 40px;
}


.btn-1{
    cursor: pointer;
    color: gray !important;
    /* срочно убрать important */
}

.btn-1:hover{
    color: #0036f8 !important;
    /* срочно убрать important */
}

.btn-2{
    background-color: #305DFF;
    color: white;
    align-items: center;
    border: 0px;
    height: fit-content;
    border-radius: 10px;
    padding: 14px 18px;
    font-size: 14px;
    /* этот код я уже видел 2 раза  ПЕРЕИСПОЛЬЗУЙТЕ*/
}

.btn-2:hover{
    background-color: #0036f8;
}

.modal-inf{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.modal-dist{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.label{
    font-weight: 400;
    font-size: 16px;
    color: #808080;
}

.h1{
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    font-size: 32px;
    color: #1E1E1E;
}

.h5{
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    font-size: 16px;
    color: grey;
}

.input{
    background: #F6F7FB;
    border-radius: 10px;
    padding: 16px 10px;
    border: #0036f8;
}

.btn-3{
    cursor: pointer;
    background-color: #305DFF;
    color: white;
    width: 100%;
    align-items: center;
    border: 0px;
    height: fit-content;
    border-radius: 10px;
    padding: 14px 18px;
    font-size: 14px;
}

.btn-3:hover{
    background-color: #0036f8;
}

.btn-gr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.modal-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px !important;
}


@media (max-width: 1000px) {
    .tab {
        gap: 0;
    }

    .t-cnt {
        padding: 16px 10px;

    }

    .wrp {
        display:none;
    }

    .wrp-img {
        display: flex;
    }

    .search {
        width: 500px;
    }

    .menu {
        gap: 50px;
    }

}

dialog::backdrop {
    background-color: rgba(0 0 0 / .3);
}

dialog {
    width: 60%;
    border: none;
    border-radius: 14px;
    background: linear-gradient(to left,white 50%,#305DFF 50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 26px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.box {
    position: relative;
}

.back-img {
    width: 100%;
    height: 100%;
    
}

.backgr{
    background: rgba(30, 30, 30, 0.43);
    filter: blur(1px);  
}

.p1 {
    font-size: 64px;
    position: absolute;
    color: white;
    top:200px;
    left: 20px;
    font-weight: 700;
}

.p2 {
    font-size: 32px;
    position: absolute;
    color: white;
    top:490px;
    left: 20px;
}

.btn1 {
    top:590px;
    left: 20px;
    position: absolute;
    background-color: #305DFF;
    color: #fff;
    text-decoration: none;
    padding: 16px 288px;
    font-weight: 400;
    border-radius: 10px;
}
