<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CardDeck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cardPage/card.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>
<body>
<header>
    <div class="container">
        <div class="header-line">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='img/Koloda.png') }}" alt="">
            </div>
            <div class="nav">
                <a class="nav-item" href="/">Главная</a>
                <a class="nav-item" href="/card">Карточки</a>
            </div>
            <div class = "authorization">
                <a  class="nav-item" href="/auth/login">Вход</a>
                <a  class="btn" href="/auth/register">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class = "name-deсk"></div>
    <div class = "counter"></div>
    <div class="wrap">
        <div class="arrow left-arrow"><div></div></div>
        <div class="scene scene--card">
            <div class="card">
               <div class="card__face card__face--front">
                   <div class="nav">
                       <button class="sound">&#128364;</button>
                       <button class="favourite">&#9733;</button>
                   </div>
                   <div id="question"></div>
                   <div class="text-bottom">Нажми на карточку, чтобы перевернуть</div>
               </div>
               <div class="card__face card__face--back">
                   <div class="nav">
                       <button class="sound">&#128364;</button>
                       <button class="favourite">&#9733;</button>
                   </div>
                   <div id="answer"></div>
               </div>
            </div>
        </div>
        <div class="arrow right-arrow"><div></div></div>
    </div>
    <div class = "grades">
        <button id="btn-5" class="grade grade-5">5</button>
        <button id="btn-4" class="grade grade-4">4</button>
        <button id="btn-3" class="grade grade-3">3</button>
        <button id="btn-2" class="grade grade-2">2</button>
        <button id="btn-1" class="grade grade-1">1</button>
    </div>
    <div class="confetti-container">
        <div class="confetti">
            <i style="--speed: 10; --bg: yellow" class="square"></i>
            <i style="--speed: 18; --bg: white" class="pentagram"></i>
            <i style="--speed: 29; --bg: green" class="rectangle"></i>
            <i style="--speed: 17; --bg: blue" class="hexagram"></i>
            <i style="--speed: 33; --bg: red" class="pentagram"></i>
            <i style="--speed: 26; --bg: yellow" class="dodecagram"></i>
            <i style="--speed: 24; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 5; --bg: blue" class="wavy-line"></i>
            <i style="--speed: 40; --bg: white" class="square"></i>
            <i style="--speed: 17; --bg: green" class="rectangle"></i>
            <i style="--speed: 25; --bg: white" class="square"></i>
            <i style="--speed: 18; --bg: green" class="rectangle"></i>
            <i style="--speed: 15; --bg: yellow" class="wavy-line"> </i>
            <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
            <i style="--speed: 25; --bg: white" class="square"></i>
            <i style="--speed: 18; --bg: green" class="rectangle"></i>
            <i style="--speed: 37; --bg: yellow" class="dodecagram"></i>
            <i style="--speed: 23; --bg: pink" class="wavy-line"></i>
            <i style="--speed: 37; --bg: red" class="dodecagram"></i>
            <i style="--speed: 37; --bg: pink" class="wavy-line"></i>
            <i style="--speed: 36; --bg: white" class="hexagram"></i>
            <i style="--speed: 32; --bg: green" class="wavy-line"></i>
            <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
            <i style="--speed: 29; --bg: white" class="square"></i>
            <i style="--speed: 18; --bg: green" class="rectangle"></i>
            <i style="--speed: 37; --bg: red" class="dodecagram"></i>
            <i style="--speed: 23; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 30; --bg: pink" class="rectangle"></i>
            <i style="--speed: 30; --bg: red" class="square"></i>
            <i style="--speed: 18; --bg: red" class="pentagram"></i>
            <i style="--speed: 19; --bg: green" class="rectangle"></i>
            <i style="--speed: 16; --bg: blue" class="hexagram"></i>
            <i style="--speed: 23; --bg: red" class="pentagram"></i>
            <i style="--speed: 34; --bg: yellow" class="dodecagram"></i>
            <i style="--speed: 39; --bg: pink" class="wavy-line"></i>
            <i style="--speed: 40; --bg: purple" class="square"></i>
            <i style="--speed: 21; --bg: green" class="rectangle"></i>
            <i style="--speed: 14; --bg: white" class="square"></i>
            <i style="--speed: 38; --bg: green" class="rectangle"></i>
            <i style="--speed: 19; --bg: red" class="dodecagram"></i>
            <i style="--speed: 29; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 21; --bg: white" class="hexagram"></i>
            <i style="--speed: 17; --bg: purple" class="wavy-line"></i>
            <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
            <i style="--speed: 23; --bg: white" class="square"></i>
            <i style="--speed: 18; --bg: green" class="rectangle"></i>
            <i style="--speed: 37; --bg: red" class="dodecagram"></i>
            <i style="--speed: 48; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 38; --bg: pink" class="rectangle"></i>
            <i style="--speed: 13; --bg: red" class="pentagram"></i>
            <i style="--speed: 49; --bg: yellow" class="dodecagram"></i>
            <i style="--speed: 19; --bg: cyan" class="wavy-line"></i>
            <i style="--speed: 15; --bg: steelblue" class="square"></i>
            <i style="--speed: 10; --bg: yellow" class="square"></i>
            <i style="--speed: 18; --bg: white" class="pentagram"></i>
            <i style="--speed: 29; --bg: green" class="rectangle"></i>
            <i style="--speed: 17; --bg: blue" class="hexagram"></i>
            <i style="--speed: 33; --bg: red" class="pentagram"></i>
            <i style="--speed: 26; --bg: yellow" class="dodecagram"></i>
            <i style="--speed: 24; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 5; --bg: white" class="wavy-line"></i>
            <i style="--speed: 40; --bg: purple" class="square"></i>
            <i style="--speed: 17; --bg: green" class="rectangle"></i>
            <i style="--speed: 25; --bg: white" class="square"></i>
            <i style="--speed: 18; --bg: green" class="rectangle"></i>
            <i style="--speed: 15; --bg: cyan" class="wavy-line"> </i>
            <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
            <i style="--speed: 45; --bg: white" class="square"></i>
            <i style="--speed: 18; --bg: green" class="rectangle"></i>
            <i style="--speed: 37; --bg: red" class="dodecagram"></i>
            <i style="--speed: 23; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 37; --bg: red" class="dodecagram"></i>
            <i style="--speed: 37; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 26; --bg: white" class="hexagram"></i>
            <i style="--speed: 32; --bg: cyan" class="wavy-line"></i>
            <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
            <i style="--speed: 45; --bg: white" class="square"></i>
            <i style="--speed: 18; --bg: green" class="rectangle"></i>
            <i style="--speed: 37; --bg: red" class="dodecagram"></i>
            <i style="--speed: 23; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 50; --bg: pink" class="rectangle"></i>
            <i style="--speed: 30; --bg: red" class="square"></i>
            <i style="--speed: 18; --bg: red" class="pentagram"></i>
            <i style="--speed: 19; --bg: green" class="rectangle"></i>
            <i style="--speed: 16; --bg: blue" class="hexagram"></i>
            <i style="--speed: 23; --bg: red" class="pentagram"></i>
            <i style="--speed: 33; --bg: yellow" class="dodecagram"></i>
            <i style="--speed: 39; --bg: white" class="wavy-line"></i>
            <i style="--speed: 40; --bg: orange" class="square"></i>
            <i style="--speed: 21; --bg: green" class="rectangle"></i>
            <i style="--speed: 14; --bg: white" class="square"></i>
            <i style="--speed: 38; --bg: green" class="rectangle"></i>
            <i style="--speed: 19; --bg: red" class="dodecagram"></i>
            <i style="--speed: 29; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 34; --bg: white" class="hexagram"></i>
            <i style="--speed: 17; --bg: indigo" class="wavy-line"></i>
            <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
            <i style="--speed: 23; --bg: white" class="square"></i>
            <i style="--speed: 18; --bg: green" class="rectangle"></i>
            <i style="--speed: 37; --bg: red" class="dodecagram"></i>
            <i style="--speed: 48; --bg: pink" class="wavy-line"> </i>
            <i style="--speed: 38; --bg: pink" class="rectangle"></i>
            <i style="--speed: 13; --bg: red" class="pentagram"></i>
            <i style="--speed: 49; --bg: yellow" class="dodecagram"></i>
            <i style="--speed: 19; --bg: purple" class="wavy-line"></i>
            <i style="--speed: 15; --bg: cyan" class="square"></i>
        </div>
    </div>
        <audio id="fanfar" src="{{ url_for('static', filename='sounds/fanfar.mp3') }}"></audio>
    <script src="{{ url_for('static', filename='api.mjs') }}" type="module"></script>
    <script src="{{ url_for('static', filename='cardPage/cardPage.mjs') }}" type="module"></script>
</main>
</body>
</html>