<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CardDeck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div class="header-line">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='img/Koloda.png') }}" alt="">
            </div>
            <div class="nav">
                <a class="nav-item" href="/">Главная</a>
                <a class="nav-item" href="/card">Карточки</a>
            </div>
            <div class = "authorization">
                <a  class="nav-item" href="/auth/login">Вход</a>
                <a  class="btn" href="/auth/register">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class = "name-deсk"></div>
   <div class="wrap">
       <div class="scene scene--card">
           <div class="card">
               <div class="card__face card__face--front"><!--<span id = "front">я</span>--></div>
               <div class="card__face card__face--back"><!--<span id = "back">семья</span>--></div>
            </div>
        </div>

    </div>
    <div class = "numeration"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</main>
</body>
</html>