<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <script defer src="{{ url_for('static', filename='profile.js') }}"></script>
</head>
<body>
    <header>
        <div class="cnt">
            <img class="logo" src="{{ url_for('static', filename='img/Koloda.png') }}">
        </div>
        <nav>
            <div class="tab"> 
                <div class="t-cnt">
                    <div id="main-page" class="tablinks text">Главная</div>
                </div>
                <div class="t-cnt">
                    <div id="cards-page" class="tablinks text">Карточки</div>
                </div>
            </div>
        </nav>

        <div  class="wrp" id="wrp">
            <div class="circle"></div>
            <div class="text clr-txt">Алексеев Иван</div>
        </div>
    </header>

    <div class="box">
        <div class="profile">
            <div class="menu">
                <div class="menu-cnt">
                    <div class="wrp-1">
                        <div class="circle-1"></div>
                        <div class="text name-txt">Алексеев Иван</div>
                        <div id="page-edit" class="box-btn">
                            <img class="edit-btn" src="{{ url_for('static', filename='img/edit.svg') }}" >
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div id="page-kolodos" class="menu-item">
                        <div class=" txt-mn-it">Колоды</div>
                    </div>
                    <div class="divider"></div>
                    <div class="menu-item">
                        <div id="page-best" class=" txt-mn-it">Избранное</div>
                    </div>
                    <div class="divider"></div>
                    <div class="menu-item">
                        <div id="logout" class=" txt-mn-it-out">Выйти</div>
                    </div>
                </div>
            </div>
            <div class="desc">
                <div id="page-1" class="page p1">

                    <div class="my-cards" id="subpage-1">
                        <div class="kolods">
                            <div class="header-1">
                                <p class="header-block">Колоды</p>
                            </div>
                            <div class="divider-header"></div>
                        </div>
                        <div class="empty-kolods">
                            <img class="empty-folder" src="{{ url_for('static', filename='img/folder.svg') }}">
                            <h1 class="h1-ed">Вы еще не создали колоды</h1>
                            <h3 class="h3-ed">Создайте колоду, чтобы заучивать свои домашки</h3>
                            <button id="btn-create" class="btn-2">Создать</button>
                        </div>
                    </div>

                    <div class="create-card" id="subpage-2">
                        <div class="kolods">
                            <div class="header-1">
                                <img class="prev" id="return-btn" src="{{ url_for('static', filename='img/prev-1.svg') }}">
                                <p class="header-block">Колоды</p>
                            </div>
                            <div class="divider-header"></div>
                        </div>
                        <div class="inputs">
                        
                            <label for="name" class="label">Введите название</label>
                            <input class="input" type="text" id="name" required placeholder="Математическая карусель">
                            
                            <label for="descr" class="label">Описание</label>
                            <input class="input" type="text" id="descr" required placeholder="Про математику и кошек">
                            <div class="cards">
                                
                            </div>

                            <div class="btn-gr">
                                <button class="btn-4" id="add-button">Добавить карточку</button>
                                <button class="btn-3">Cохранить</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="page-2" class="page p2">
                    <div class="kolods">
                        <div class="header-1">
                            <p class="header-block">Избранное</p>
                        </div>
                        <div class="divider-header"></div> 
                    </div>
                    <div class="empty-kolods">
                        <img class="empty-folder" src="{{ url_for('static', filename='img/folder.svg') }}">
                        <h1 class="h1-ed">Ваше избранное пусто</h1>
                        <h3 class="h3-ed">Добаваьте в избранное, чтобы не потерять</h3>
                        <button id="btn-add-x" class="btn-2">Добавить</button>
                    </div>
                </div>
                <div id="page-3" class="page p3">
                    <div class="kolods">
                        <div class="header-1">
                            <p class="header-block">Мои данные</p>
                        </div>
                        <div class="divider-header"></div>
                        <form class="inputs" method="post">
                    
                            <label for="text-b" class="label">Логин</label>
                            <input type="text" id="text-b" class="input" name="username" placeholder="jsx123">

                            <label for="email" class="label">Почта</label>
                            <input class="input" type="email" id="email" size="30" required placeholder="test@test.com" name="email">

                            <label for="phone" class="label">Телефон</label>
                            <input type="tel" class="input" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required placeholder="953002211">

                            <label for="pass" class="label">Пароль</label>
                            <input class="input" type="password" id="pass" name="password" minlength="8" required placeholder="***********">

                            <label for="pass" class="label">Пароль</label>
                            <input class="input" type="password" id="pass" name="password" minlength="8" required placeholder="***********">
                            
                            <input type="submit" id="btn" class="btn-2" value="Cохранить">
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>